{% extends 'base.html.twig' %}

{% block title %}
  Profile de {{ user.pseudonyme }}
{% endblock %}

{% block body %}
  <div class="block">
    <h1>Profile de {{ user.pseudonyme }}</h1>
    <p class="mb-50">
      <strong>Username :</strong> {{ user.pseudonyme }}<br />
      <strong>Nombre de réponses :</strong> 0
    </p>
    <h2 class="mb-10">Comptes liés</h2>

    {% for linkedaccount in linkedaccounts %}
      <button class="btn btn-{{ linkedaccount.type }}"><i class="fa-brands fa-{{ linkedaccount.type }}"></i> Delier le compte</button>
    {% endfor %}
    {% for linkableaccount in linkableaccounts %}
      <button class="btn btn-{{ linkableaccount }}"><i class="fa-brands fa-{{ linkableaccount }}"></i> Lier le compte</button>
    {% endfor %}

  </div>
{% endblock %}
