{% extends 'base.html.twig' %}

{% block title %}
  {{ question.title }}
{% endblock %}

{% block body %}
  <div class="block mb-20">
    <div class="d-flex flex-row-nowrap align-items-center pb-30">
      {% include 'partials/_voteHandler.html.twig' with { rating : question.ratting } %}
      <h3 class="mr-5">{{ question.title }}</h3>
      <div class="question-tag">QUESTION</div>
      <img src="https://randomuser.me/api/portraits/men/86.jpg" alt="" class="avatar ml-auto" />
    </div>
    <hr />
    <p class="py-10">{{ question.content }}</p>
    <div class="separator"></div>
    <h3>{{ form_label(form.content) }}</h3>
    <div class="comment-form">
      {{ form_start(form) }}
      <div class="block mb-20">{{ form_rest(form) }}</div>
      <button class="btn btn-primary">Commenter</button>
      {{ form_end(form) }}
    </div>
  </div>

  {% if question.comments|length > 0  %}
  <div class="block mby-20">
    {% for comment in question.comments %}
      <div class="question-response-elem mb-30">
        <div class="d-flex flex-row-nowrap align-items-center pb-10">
          {% include "partials/_voteHandler.html.twig" with { rating : comment.rating } %}
          <img src="https://randomuser.me/api/portraits/men/86.jpg" alt="" class="avatar mr-10" />
          <p class="clickable">Brillance</p>
          <code class="ml-auto">{{ comment.createdAt|ago(locale = 'fr') }}</code>
        </div>
        <p class="question-response-text">{{ comment.content }}</p>
      </div>
    {% endfor %}
  </div>
    
    
  {% endif %}

{% endblock %}
